    <div class="credits text-center">
        <p>
            <a href="">Truckish Maps Assignment Example</a>
        </p>
        <p>
            <a href="">Goutam Gopal Desai</a>
        </p>
    </div>
</body>
</html>